.Header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  h1 {
    font-size: 52px;
    letter-spacing: 18px;
    font-weight: 500;
  }
  .favorite-wrapper {
    position: absolute;
    left: 80%;
    width: 150px; 
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    color: #eeee93;
    text-shadow: 2px 2px 10px #ffff28;
    padding: 0px 5px;
    &:hover {
      border: 1px solid #4ea6c5;
      border-radius: 10px;
      .favNum,
      .Favorites {
        color: #4ea6c5;
        text-shadow: 2px 2px 10px #4ea6c5;

      }
    }
    .favNum {
      text-align: center;
      border: 1px solid;
      color: #eeee93;
      font-size: 18pt;
      padding: 5px;
      margin: 8px;
    }
    .Favorites {
      margin: 0px;
      border: none;
      background: none;
      color: #eeee93;
      text-shadow: 2px 2px 10px #ffff28;
    }
  }
}