.Card {
  border: 1px solid;
  border-radius: 10px;
  color: #db72e5;
  width: 200px;
  padding: 10px;
  margin: 15px;
  .heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
    color: #929367;
    text-shadow: 2px 2px 15px #ffff28;
    p {
      margin: 0px;
    }
    .fav-icon.favorite {
      background-image: url('../assets/star-gold.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    .fav-icon {
      background-size: 30px;
      background-image: url('../assets/star-grey.png');
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        background-image: url('../assets/star-gold.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      .spacer {
        height: 30px;
        width: 30px;
      }
    }
  }
  .card-info-container {
    padding: 10px;
    font-size: 14pt;
  }
  span {
    margin: 3px 0px;
    display: block;
  }
  ul {
    margin: 3px 0px;
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      padding: 0px 20px;
    }
  }
  button {
    background: rgba(146, 147, 103, 0.6)
  }
}

.favorite {
  color: #4ea6c5;
  background: rgba(78, 166, 197, 0.3);
}