.Button {
  font-size: 19pt;
  padding: 5px;
  background: white;
  border-radius: 10px;
  border: 1px solid;
  outline: none;
  background: #929367;
  cursor: pointer;
}

.selected {
  background: black;
  color: white;
}

