@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.scroll-container {
  border: 1px solid;
  overflow: hidden;
  height: 400px;
  margin: 35px;
  display: flex;
  justify-content: center;
  perspective: 300px;
  background: black;
}

.Scroll {
  text-align: center;
  padding: 5px;
  position: relative;
  top: -2500px;
  transform-origin: 50% 100%;
  font-size: 50pt;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 150%;

  color: yellow;
  animation: crawl 120s linear;
  .intro {
    margin-bottom: 100px;
    padding: 100px;
    color: lighten(blue, 15%);
    text-align: left;
  }
  h3 {
    margin: 0px;
  }
}

@keyframes crawl {
  0% {
    top: 600px;

    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;

    transform: rotateX(25deg) translateZ(-2500px);
  }
}