.scroll-container {
  border: 1px solid;
  overflow: hidden;
  height: 400px;
  display: flex;
  justify-content: center;
  perspective: 400px;
}

.Scroll {
  text-align: center;
  padding: 5px;
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  font-size: 30pt;

  animation: crawl 120s linear;
}

@keyframes crawl {
  0% {
    top: 600px;

    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;

    transform: rotateX(25deg) translateZ(-2500px);
  }
}